/* === Small CSS Reset === */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text {
text-align: right;
}

/* NEWSLETTER */

.newsletter_container{

  position: relative;
}

#newsletter_box{
  float: left;
  position: absolute;
  left: 35%;
  top: 33%;
  z-index: 1000;/* 
  background-color: #ffffff;
  opacity: 0.8; */
  padding: 5px;
  color: #4F4065; /* 87889C */
  font-weight: bold;
}


/* CONTACT */
.contact{
  background: #525291;
  color: #4F4065; 
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}


h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}


h4 {
  font-size: .5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}